*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    color: var(--body);
    background-color: var(--bg1);
}


nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    padding-top: 20px;
    position: fixed;
    width: 100vw;
    background: linear-gradient(to bottom, #1B1F34, rgba(27, 31, 52, 0.0));

    >h1{
        font-size: 32px;
        
        >span{
            color: var(--brand);
        }
    }

    ul{
        display: flex;
        gap: 25px;
        align-items: center;

        >li{
            list-style: none;

            >a{
                text-decoration: none;
                font-size: 17px;
                color: var(--brand);
                transition: all 0.4s ease;

                &:hover{
                    color: var(--white);
                }
            }

            button{
                padding: 16px 36px;
                font-family: sans-serif;
                background-color: transparent;
                border:1px solid var(--brand);
                color: var(--brand);
                transition: all 0.4s ease;

                &:hover{
                    background-color:var(--brand);
                    color: var(--bg1);
                }
            }
        }
    }
}

/* ---------js class--------- */
.is-toggled{
    color: #959DCC;
}

/* ------hero------- */

section.hero{
    padding-inline: 5%;
    padding-block: 220px;
    
    >div{
        width: 600px;

        >h1{
            font-size: 80px;
            color: white;
            
        }

        >p{
            margin-top: 24px;
            line-height: 1.5;
            font-style: italic;
        }

        >button{
            padding: 16px 36px;
            font-family: sans-serif;
            font-weight: 700;
            background-color: var(--brand);
            border: none;
            margin-top: 24px;
            transition: all 0.4s ease;

            &:hover{
                background-color: transparent;
                border:1px solid var(--brand);
                color: var(--brand);
            }
        }

        a{
            display: block;
            margin-top: 40px;
            text-decoration: none;
            color: var(--brand);
            border-top: 2px solid var(--brand);
            width: 190px;
            transition: 0.4s ease;

            &:hover{
                color: var(--white);
            }
        }
    }
}

#hero{
    background: linear-gradient(20deg,#1B1F34, rgba(27, 31, 52, 0.5)), url(./asset/background-image.png.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/*---------about---------- */
section.about{
    padding-inline: 5%;
    padding-block: 100px;
    /* height: 100vh; */

    >div{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: relative;

        >img{
            max-height: 500px;
            max-width: 500px;
            border-radius: 25px;
            box-shadow: 0 4px 5px black;

        }

        div{
            max-width: 400px;
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;  

            
            
             >h6{
                text-align: center;
                font-size: 25px;
                color: var(--brand);
            }

            >h1{
                color: white;
                font-size: 32px;
                font-style: italic;
                margin-block: 20px;
            }

            >p{
                line-height: 1.8;
                font-size: 16px;
                text-align: center;
                font-style: italic;
            }
        }
    }
}

/* -------services */
#services{
    padding: 5%;
    padding-block-start: 100px;
    background-color: var(--bg2);

    >section.services-head{
        text-align: center;
        margin: auto;
        width: 500px;

        >h6{
            font-size: 25px;
            color: var(--brand);
        }

        >h1{
            color: white;
            font-size: 32px;
            font-style: italic;
            margin-block: 10px;
        }

        >p{
            line-height: 1.8;
            font-size: 16px;
            text-align: center;
            font-style: italic;
        }
    }

    >section.services-body{
        margin-block-start: 60px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        

       >div{

            >img{
                max-width: 350px;
            }

            div.content{
                width: 350px;
                padding: 32px;
                text-align: center;
                line-height: 1.8;

                >h3{
                    color: var(--white);
                    font-weight:800 ;
                }

                >p{
                    margin-block: 18px;
                }

                >a{
                    text-decoration: none;
                    color: var(--body);
                    font-weight: 600;
                    text-transform: uppercase;
                    left: 1px;
                    display: inline-flex;
                    align-items: center;
                    

                    &:hover{
                        color: var(--brand);
                    }
                    
                    >.icon{
                        transition:all 0.4s ease;
                    }

                    &:hover .icon{
                        transform: translateX(8px);
                    }
                }
            }
        }
    }

    div.buttons{
        width: 400px;
        margin: auto;
        margin-top: 60px;

        >button.btn1{
            padding: 16px 36px;
            font-family: sans-serif;
            transition: all 0.4s ease;
            background-color: var(--brand);
            border: none;
            margin-top: 24px;
            font-weight: 800;
            margin-right: 32px;

            &:hover{
                background-color: transparent;
                border:1px solid var(--brand);
                color: var(--brand);
            }    
        }

        >button.btn2{
            padding: 16px 36px;
            font-family: sans-serif;
            transition: all 0.4s ease;
            background-color: transparent;
            border:1px solid var(--brand);
            color: var(--brand);
            font-weight: 800;

            &:hover{
                background-color:var(--brand);
                color: var(--bg1);
            }
        }
    }
}

/* -------records counts-------- */

section.records-count{
    background: linear-gradient(45deg,#1B1F34, rgba(27, 31, 52, 0.5)), url(./asset/man-cuts-his-beard-barbershop_1157-16081.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    
    >div{
        margin: auto;
        display: flex;
        text-align: center;
        justify-content: space-evenly;

        >div{
            margin-top: 200px;
            
            >p{
                font-size: 20px;
            }

            h1{
                font-size: 32px;
                color: var(--brand);
            }
        }
    }
}

/* ---------features-------- */
#Features{
    padding: 5%;
    padding-block-start: 100px;
    background-color: var(--bg1);

    >section.Features-head{
        text-align: center;
        margin: auto;
        width: 500px;

        >h6{
            font-size: 25px;
            color: var(--brand);
        }

        >h1{
            color: white;
            font-size: 32px;
            font-style: italic;
            margin-block: 10px;
        }

        >p{
            line-height: 1.8;
            font-size: 16px;
            text-align: center;
            font-style: italic;
        }
    }


    section.Features-body{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center; 

        >div{
            display: flex;
            gap: 15px;
            margin-top: 30px;
           

            >.icon{
                font-size: 30px;
                color: var(--brand);
            }

            div.content{
                width: 350px;
                line-height: 1.8;

                >h3{
                    color: var(--white);
                    font-weight:800 ;
                }

                >p{
                    margin-block: 18px;
                }

                >a{
                    text-decoration: none;
                    color: var(--body);
                    font-weight: 600;
                    text-transform: uppercase;
                    left: 1px;
                    display: inline-flex;
                    align-items: center;
                    

                    &:hover{
                        color: var(--brand);
                    }
                    
                    >.icon{
                        transition:all 0.4s ease;
                    }

                    &:hover .icon{
                        transform: translateX(8px);
                    }
                }
            }
        }
    }

    div.buttons{
        width: 400px;
        margin: auto;
        margin-top: 50px;

        >button.btn1{
            padding: 16px 36px;
            font-family: sans-serif;
            transition: all 0.4s ease;
            background-color: var(--brand);
            border: none;
            margin-top: 24px;
            font-weight: 800;
            margin-right: 32px;

            &:hover{
                background-color: transparent;
                border:1px solid var(--brand);
                color: var(--brand);
            }    
        }

        >button.btn2{
            padding: 16px 36px;
            font-family: sans-serif;
            transition: all 0.4s ease;
            background-color: transparent;
            border:1px solid var(--brand);
            color: var(--brand);
            font-weight: 800;

            &:hover{
                background-color:var(--brand);
                color: var(--bg1);
            }
        }
    }
}

/*------Teams-------- */
#Teams{
    padding: 5%;
    padding-block-start: 100px;
    background-color: var(--bg2);

    >section.team-head{
        text-align: center;
        margin: auto;
        width: 500px;

        >h6{
            font-size: 25px;
            color: var(--brand);
        }

        >h1{
            color: white;
            font-size: 32px;
            font-style: italic;
            margin-block: 10px;
        }

        >p{
            line-height: 1.8;
            font-size: 16px;
            text-align: center;
            font-style: italic;
        }
    }

    >section.team-body{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        div.team-member{
            max-width: 450px;
            padding-top: 20px;

            img{
                max-width: 450px;
                max-height: 580px;
                border-radius: 20px;
            }
    
            div.content{
                text-align: center;
                line-height: 1.5;
    
                >h3{
                    color: var(--white);
                    font-weight:800 ;
                }
            }  

            .social-links{
                transition: all 0.4s ease;
                text-align: center;
                margin-top: 10px;

                p{
                    color: var(--body);
                    margin-block: 5px;
                }

                a{
                    background-color: var(--bg2);
                    text-decoration: none;
                    margin-inline: 5px;
                    font-size: 20px;
                    color: var(--body);
                    transition: all 0.4s ease;
        
                    &:hover{
                        background-color: var(--brand);
                        padding: 5px 10px;
                        color: var(--bg1);
                        transform: translateX(8px);
                    }
                }
            }
        }
    }

    div.buttons{
        width: 400px;
        margin: auto;
        margin-top: 50px;

        >button.btn1{
            padding: 16px 36px;
            font-family: sans-serif;
            transition: all 0.4s ease;
            background-color: var(--brand);
            border: none;
            margin-top: 24px;
            font-weight: 800;
            margin-right: 32px;

            &:hover{
                background-color: transparent;
                border:1px solid var(--brand);
                color: var(--brand);
            }    
        }

        >button.btn2{
            padding: 16px 36px;
            font-family: sans-serif;
            transition: all 0.4s ease;
            background-color: transparent;
            border:1px solid var(--brand);
            color: var(--brand);
            font-weight: 800;

            &:hover{
                background-color:var(--brand);
                color: var(--bg1);
            }
        }
    }
}

/* ---------Reviews------- */
#Reviews{
    padding: 5%;
    padding-block-start: 100px;

    >section.Reviews-head{
        text-align: center;
        margin: auto;
        width: 500px;

        >h6{
            font-size: 25px;
            color: var(--brand);
        }

        >h1{
            color: white;
            font-size: 32px;
            font-style: italic;
            margin-block: 10px;
        }

        >p{
            line-height: 1.8;
            font-size: 16px;
            text-align: center;
            font-style: italic;
        }
    }

    section.Reviews-body{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        div.feedback{
            max-width: 350px;
            background-color: var(--bg2);
            box-shadow: 5px 4px 2px 3px black;
            padding: 20px;
            border-radius: 10px;
            margin-top: 40px;
            
            div.info-feedback{
                display: flex;

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 120px;
                    margin-right: 20px;
                }
    
                div{
                    line-height: 1.5;
                    margin-right: 100px;
                    h5{
                        color:var(--white);
                    }
                }

                a{
                    text-decoration: none;
                    margin: 10px;

                    i{
                        padding: 10px;
                        background-color: var(--brand);
                        color: var(--bg2);
                        border-radius: 50%;

                        &:hover{
                            background-color: var(--bg1);
                            border: 1px solid var(--brand);
                            color: var(--brand);
                        }
                    }
                }
            }

            p{
                margin-top: 10px;
            }
        }
    }

    div.more{
        width: 300px;
        margin: auto;
        margin-top: 50px;
        text-align: center;
        >a{
            text-decoration: none;
            color: var(--body);
            font-weight: 600;
            text-transform: uppercase;
            left: 1px;
            display: inline-flex;
            align-items: center;
            
    
            &:hover{
                color: var(--brand);
            }
            
            >.icon{
                transition:all 0.4s ease;
            }
    
            &:hover .icon{
                transform: translateX(8px);
            }
        }
    }

    div.buttons{
        width: 400px;
        margin: auto;
        margin-top: 20px;

        >button.btn1{
            padding: 16px 36px;
            font-family: sans-serif;
            transition: all 0.4s ease;
            background-color: var(--brand);
            border: none;
            margin-top: 24px;
            font-weight: 800;
            margin-right: 32px;

            &:hover{
                background-color: transparent;
                border:1px solid var(--brand);
                color: var(--brand);
            }    
        }

        >button.btn2{
            padding: 16px 36px;
            font-family: sans-serif;
            transition: all 0.4s ease;
            background-color: transparent;
            border:1px solid var(--brand);
            color: var(--brand);
            font-weight: 800;

            &:hover{
                background-color:var(--brand);
                color: var(--bg1);
            }
        }
    }
}

section.Bookings{
    background: linear-gradient(45deg,#1B1F34, rgba(27, 31, 52, 0.5)), url(./asset/man-cuts-his-beard-barbershop_1157-16081.jpg);
    background-position: center;
    background-size: cover;
    padding-block: 80px;

    >div.Appointment{
        width: 600px;
        margin: auto;

        form{
            background-color: var(--bg2);
            padding: 25px;
            text-align: center;
            
            div{
                line-height: 1.5;

                h1{
                    font-size: 30px;
                    color: var(--white);
                }

                h5{
                    color: var(--white);
                    font-style: italic;
                    margin-bottom: 10px;
                }
            }

            input{
                width: 80%;
                padding: 10px;
                border: none;
                margin-top: 10px;
                background-color: var(--bg1);
                color: var(--white);
                border-radius: 10px;
            }

            textarea{
                width: 80%;
                height: 60px;
                margin-top: 10px;
                background-color: var(--bg1);
                color: var(--white);
                border: none;
                border-radius: 10px;
            }

            input textarea:focus{
                border-left: 3px solid var(--brand);
                box-shadow: none;
            }

            button{
                padding: 8px 80px;
                font-family: sans-serif;
                transition: all 0.4s ease;
                background-color: var(--brand);
                border: none;
                margin-top: 10px;
                font-weight: 800;
                margin-right: 32px;
                border-radius: 10px;

                &:hover{
                    background-color: transparent;
                    border:1px solid var(--brand);
                    color: var(--brand);
                }
            }
        }
    }
}

